<div *ngIf="!modeSelected" class="title-container">
	<div class="introduction">
		<h2>Greater Than Equal To</h2>
	</div>
	<div class="mode-selection">
		<mode-selection (modeSelectEvent)="modeClick($event)"></mode-selection>
	</div>
	<ul class="shapes">
		<li class="equal"></li>
		<li class="less-than"></li>
		<li class="greater-than"></li>
		<li class="equal"></li>
		<li class="less-than"></li>
		<li class="greater-than"></li>
		<li class="equal"></li>
		<li class="less-than"></li>
		<li class="greater-than"></li>
		<li class="equal"></li>
	</ul>
</div>

<div *ngIf="mode === 'infinite'" class="infinite-container">
	<infinite-mode></infinite-mode>
</div>

<div *ngIf="mode === 'nightmare'" class="nightmare-container">
	<p>Test nightmare</p>
</div>