/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@300&family=Kanit:wght@300&display=swap');

html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    background: #2e68aa;
}

body {
    padding: 0;
    margin: 0;
}